<form action="/addward" method="post">
     <label for="wardname">ward name</label>
     <input type="text" name="wardname" >
     <label for="head">Head</label>
     <input type="head" name="head" id="head">
     <button type="submit">Add</button>
</form>