<div class="products">
    {{#each products}}
      <div class="product">
        <h3>Name : {{this.name}}</h3>
        <h4>price : Ksh.{{this.price}}</h4>
        <p>status : {{this.status}}</p>
      </div>
    {{/each}}  
</div>