<div class="products">
    {{#each products}}
     <div class="product">
        <h3>Name : {{this.item}}</h3>
        <p>price : Ksh.{{this.price}}</p>
        <p>status : {{this.status}}</p>
        <form action="/Confirmdelivery" method="post">
             <input type="hidden" name="id" id="id" value="{{this.id}}">
             <button type="submit">Confirm delivery</button>
        </form>
     </div>
     {{/each}}
</div>