<div class="sidebar">
    <nav>
        <a href="/myorders">My orders</a>
        <a href="/delivered">delivered</a>
        <a href="/completeprders">Completed orders</a>
        <a href="/concledorders">Councled order</a>
    </nav>
</div>