<form action="/pending" method="post">
    <table>
        <tr>
            <input type="text" name="dept" id="dept" placeholder="Enter department name here">
            <input type="text" name="item" id="item" placeholder="Enter fooname here">
            <button type="submit">Filter</button>
        </tr>
    </table>
</form>