<nav class="sidebar">
    <div>
        <a href="/kitchen">Meals</a>
        <a href="/registernew">Add new staff</a>
        <a href="/addmeal">Add meal</a>
        <a href="/pending">Peding orders</a>
        <a href="/Kitchendelivered">deliverd</a>
        <a href="/kitchencompletedOrders">completed Orders</a>
        <a href="/addDept">Add department</a>
    </div>
</nav>