 <nav class="sidebar">
        <div>
            <a href="/kitchen">Meals</a>
            <a href="/registernew">Add new staff</a>
            <a href="/addmeal">Add meal</a>
            <a href="/pending">Pending orders</a>
            <!--<form action="/pending" method="post"><button type="submit">Submit</button></form>-->
            <div class="dropdown">
                <button>Ward</button>
                <div class="dropdown-content">
                    <a href="/wardpending">Pending orders</a>
                    <a href="/wardDelivered">Delivered</a>
                    <a href="/wardCompletedOrders">Completed</a>
                </div>
            </div>
            <a href="/Kitchendelivered">Delivered</a>
            <a href="/kitchencompletedOrders">Completed Orders</a>
            <a href="/kitchenconcledorders">Canceled orders</a>
            <a href="/addDept">Add department</a>
            <a href="/addward">Add ward</a>
        </div>
    </nav>