<nav class="sidebar">
    <div>
        <a href="/kitchen">Meals</a>
        <a href="/registernew">Add new staff</a>
        <a href="/addmeal">Add meal</a>
        <a href="/pending">Peding orders</a>
        <a href="/completedOrders"></a>
        
    </div>
</nav>