<div class="search">
    <form action="/pending" method="post" >
               <!-- <input type="text" id="deptSearch" placeholder="search department" onkeyup="filterDepartments()">-->
                <select name="dept" id="dept">
                    <option value="">All</option>
                     {{#each deptsList}}
                        <option value="{{this.deptName}}">{{this.deptName}}</option>
                      {{/each}}
                </select>
                <input  type="text" name="item" i placeholder="Enter foodname here">
                <input type="date" name="date">r
                <button type="submit">Filter</button>
    </form>
</div>


