<div class="sidebar">
    <a href="/patients">View patients</a></li>
    <a href="/addpatient">Add patient</a></li>
    <a href="/clearpatient">Remove patient</a></li>
    <a href="/makewardorders">Make order</a></li>
    <a href="/wardpending">pending orders</a></li>
    <a href="/wardDelivered">Delivered orders</a>
    <a href="/wardCompletedOrders">Complete orders</a>
</div>