<div class="sidebar">
    <a href="/patients">View patients</a></li>
    <a href="/addpatient">Add patient</a></li>
    <a href="/clearpatient">Remove patient</a></li>
    <a href="/makewardorders">Make order</a></li>
    <a href="/mywardorder">See orders</a></li>
</div>