<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
       <div class="container">
        {{>kitchennav}}
           <div class="content">
            <form action="/upload" method="post" enctype="multipart/form-data">
       <table>
        <tr>
            <th><label for="name">Name</label></th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th><label for="price">Price</label></th>
            <td><input type="Number" name="price"></td>
        </tr>
       <tr>
            <th><label for="image">Sellect to upload</label></th>
            <td><input type="file" name="image" accept="image/*"></td>
        </tr>
        <tr>
            <th><button type="submit"> Submint</button></th
        </tr>
       </table>
    </form>
           </div>
       </div>
    {{>footer}}
</body>
</html>