<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="addNew" method="post">
            <table>
                <tr>
                    <th><label for="fname">First name</label></th>
                    <td><input type="text" name="fname"></td>
                </tr>
                <br>
                <br>
                <tr>
                    <th><label for="sname">Second name</label></th>
                    <td><input type="text" name="sname" placeholder="optional"></td>
                </tr>
                <br>
                <br>
                <tr>
                    <th><label for="lname">Last name</label></th>
                    <td><input type="text" name="lname"></td>
                </tr>
                <br>
                <br>
                <tr>
                    <th><label for="username">Username</label></th>
                    <td><input type="text" name="username"></td>
                </tr>
                <br>
                <br>
                <tr>
                    <th><label for="dept">Department</label></th>
                    <td><input type="text" name="dept"></td>
                </tr>
                <br>
                <br>
                <tr>
                    <th><label for="email">Email</label></th>
                    <td><input type="text" name="email"></td>
                </tr>
                <br>
                <br>
                <tr>
                    <th><label for="phoneNo">Phone No</label></th>
                    <td><input type="text" name="phoneNo"></td>
                </tr>
                <br>
                <br>
                <tr>
                    <th><label for="password">Passsword</label></th>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <th><label for="role">Role</label></th>
                    <td><input type="text" name="role"></td>
                </tr>
                <br>
                <br>
                <tr>
                    <th><button type="submit">Save</button></th>
                    <th><button><a href="/home">home</a></button></th>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>