<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <div class="container">
        {{>kitchennav}}
        <div class="content"> 
              <table>
               <form action="/registernew" method="post">
                <tr>
                    <th><label for="fname">First name</label></th>
                    <td><input type="text" name="fname" required></td>
                </tr>
                <tr>
                    <th><label for="sname">Second name</label></th>
                    <td><input type="text" name="sname" placeholder="optional"></td>
                </tr>
                <tr>
                    <th><label for="lname">Last name</label></th>
                    <td><input type="text" name="lname" required></td>
                </tr>
                <tr>
                    <th><label for="username">Username</label></th>
                    <td><input type="text" name="username" required></td>
                </tr>
                <tr>
                    <th><label for="dept">Department</label></th>
                    <td>
                        <select name="dept" id="dept">
                        {{#each deptt}}
                        <option value="{{this.deptName}}">{{this.deptName}}</option>
                        {{/each}}
                    </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="email">Email</label></th>
                    <td><input type="email" name="email" required></td>
                </tr>
                <tr>
                    <th><label for="phoneNo">Phone No</label></th>
                    <td><input type="text" name="phoneNo" required></td>
                </tr>
                <tr>
                    <th><label for="password">Passsword</label></th>
                    <td><input type="password" name="password" required></td>
                </tr>
                <tr>
                    <th><label for="role">Role</label></th>
                    <td>
                        <select name="role" id="role">
                            <option value="user">User</option>
                            <option value="admin">Admin</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><button type="submit">Save</button></th>
                    <th><button type="reset"><a href="reset">home</a></button></th>
                </tr>
        </form>
    </table> 
        </div>
    </div>   
</body>
</html>