<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="/singup">
            <table>
                <tr>
                    <th><label for="fname">First Name</label></th>
                    <td><input type="text" name="fname"></td>
                </tr>
                <br>
                <br>
                <tr>
                    <th><label for="sname">Second name</label></th>
                    <td><input type="text" name="sname" placeholder="optional"></td>
                </tr>
                <br>
                <br>
                <tr>
                    <th><label for="lname">last name</label></th>
                    <td><input type="text" name="lname"></td>
                </tr>
                <br>
                <br>
                <tr>
                    <th><label for="username">password</label></th>
                    <td><input type="text" name="username"></td>
                </tr>
                <br>
                <br>
                <tr>
                    <th><label for="email">Email</label></th>
                    <td><input type="text" name="email"></td>
                </tr>
                <br>
                <br>
                <tr>
                    <th><label for="dept">Department</label></th>
                    <td><input type="text" name="dept"></td>
                </tr>
                <br>
                <br>
                <tr>
                    <th><label for="password">Password</label></th>
                    <td><input type="text" name="password"></td>
                </tr>
                <br>
                <br>
                <tr><button type="submit">Submit</button></tr>
                <tr><button><a href="/login">login</a></button></tr>
            </table>
        </form>
    </div>
</body>
</html>