<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <nav>
        <ul>
            <li><a href="/addpatient">Add patient</a></li>
            <li><a href="/clearpatient">Remove patient</a></li>
            <li><a href="/makeorder">Make order</a></li>
            <li><a href="/mywardorder">See orders</a></li>
            <li><a href="/viewpatients">View patients</a></li>
        </ul>
    </nav>
</body>
</html>